<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Dashboard</title>
    <link rel="stylesheet" href="{{.WebLink}}/static/styles.css">
    <link rel="stylesheet" href="{{.WebLink}}/static/dashboard.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-left">
            <a href="{{.WebLink}}/" class="nav-logo">
                <img src="{{.WebLink}}/static/images/logo.gif" alt="Logo">
            </a>
            <ul class="nav-links">
                <li><a href="{{.WebLink}}/about">About Me</a></li>
                <li><a href="{{.WebLink}}/blog">Blog</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <a href="{{.WebLink}}/logout" class="btn small-btn">Logout</a>
        </div>
    </div>
</nav>
<div class="dashboard-container">
    <div class="top-row">
        <div class="profile-card">
            <img src="{{.WebLink}}/{{.Image}}" alt="Avatar" class="avatar">
            <h2>{{.Username}}</h2>
            <p>Account created: {{.DateCreated}}</p>
            <input type="file" id="openModalBtn" class="btn small-btn" accept="image/*" style="display: none;">
            <button  onclick="document.getElementById('openModalBtn').click();">Upload new avatar</button>
            <script>
                document.getElementById('openModalBtn').addEventListener('change', function(event) {
                    const file = event.target.files[0];
                    if (!file) {
                        alert('Please, select file.');
                        return;
                    }

                    if (file.type !== 'image/') {
                        alert('Invalid file format.');
                        return;
                    }

                    const formData = new FormData();
                    formData.append('avatar', file);

                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '{{.WebLink}}/api/upload/avatar');
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            alert('Avatar uploaded successfully!');
                        } else {
                            alert('Error loading image.');
                        }
                    };
                    xhr.send(formData);
                });
            </script>
        </div>

        <div class="info-card">
            <h2>Information</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
        </div>
    </div>

    <div class="bottom-row">
        <div class="card file-list-card">
            <h2>Uploaded Markdown Files</h2>
            <ul id="md-file-list" class="file-list">
                {{range .MarkdownFiles}}
                <li class="md-element">
                    <a href="{{$.WebLink}}/users/{{$.Username}}/{{.}}">{{.}}</a>
                </li>
                {{end}}
            </ul>
            <input type="file" id="upload-md" accept=".md" style="display: none;">
            <button class="btn small-btn" onclick="document.getElementById('upload-md').click();">Upload New MD File</button>
            <script>
                document.getElementById('upload-md').addEventListener('change', function(event) {
                    const file = event.target.files[0];
                    if (!file) {
                        alert('Please, select file.');
                        return;
                    }

                    if (file.type !== 'text/markdown') {
                        alert('Invalid file format.');
                        return;
                    }

                    const formData = new FormData();
                    formData.append('md', file);

                    const xhr = new XMLHttpRequest();
                    xhr.open('POST', '{{.WebLink}}/api/upload/md');
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            alert('Markdown uploaded successfully!');
                        } else {
                            alert('Error loading image.');
                        }
                    };
                    xhr.send(formData);
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>