<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{.WebLink}}/static/styles.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-left">
            <a href="{{.WebLink}}/" class="nav-logo">
                <img src="{{.WebLink}}/static/images/logo.gif" alt="Logo">
            </a>
            <ul class="nav-links">
                <li><a href="{{.WebLink}}/about">About Me</a></li>
                <li><a href="{{.WebLink}}/blog">Blog</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <a href="{{.WebLink}}/dashboard" class="btn small-btn">Dashboard</a>
        </div>
    </div>
</nav>
    <div class="login-container">
        <h1>Are you sure you want to log out?</h1>
        <form class="login-form" action="{{.WebLink}}/api/logout" method="post">

            <button type="submit" class="login-button">Log out</button>
            <a href="{{.WebLink}}">
                <button type="button" class="login-button">Cancel</button>
            </a>
        </form>
    </div>
</body>
</html>
